### Convert HTML to Dataframe (Cafeteria Today's Menu Version)

1. Save screen capture as PDF from [webpage](https://dorm2.khu.ac.kr/40/4050.kmc)
2. Convert PDF to HTML (AlPDF)
3. Convert HTML to Table

In [ ]:
import pandas as pd

In [157]:
urls = ["menu00.html", "menu01.html"]

table_num = 0

for url in urls:
    tables = pd.read_html(url)

    for table in tables:
        table_num += 1    

        try:
            table.columns = ['year', 'date', 'time', 'menu']
        except:
            table.columns = ['year', 'date1', 'date2', 'time', 'menu']

        if table_num == 1:
            first_table = table.dropna(axis=0)
            first_table = first_table.reset_index()
            del first_table['index']

        table = table.dropna(axis=0)
        table_menu = table.menu
        table_menu = table_menu.reset_index()
        del table_menu['index']

        if len(table_menu) == 3:
            
            table_menu.loc[3] = table_menu.loc[2]
            table_menu.loc[2] = table_menu.loc[1]
            table_menu.loc[1] = ' '

        # print(table_menu)
        
        if table_num != 1 and table_num <= 5: first_table = pd.concat([first_table, table_menu],axis=1)

first_table.columns = ['year', 'date', 'time', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri']
menus = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

for menu in menus:
    first_table[menu] = first_table[menu].str.replace(',', '|')        

pd.set_option('display.width', 10000)
display(first_table)
file_name = str(first_table.date[0]) + '.xlsx'

# first_table.to_excel(file_name, index=False)

    year   date     time                                  menu1                                    menu2                                  menu3                                  menu4                                    menu5
0  2025년  1월 6일    1월 6일                                  1월 6일                                    1월 7일                                  1월 8일                                  1월 9일                             2025년 1월 10일
1      월     조식  A식 [한식]      백미밥| 순두부백탕| 오징어떡볶음| 물만두찜*간장| 포기김치  백미밥| 우동장국| 두부참치조림| 동그랑땡*케찹| 고춧잎무침| 포기김치  백미밥| 콩나물해장국| 오리불고기| 감자채볶음| 과일주스| 포기김치     백미밥| 대파육개장| 빨간계란장조림| 흑임자연근무침| 포기김치
2      월     중식  A식 [한식]  제육덮밥| 시금치된장국| 고구마&단호박고로케| 계란후라이| 포기김치     소불고기우동| 추가밥| 미니파닭치킨| 치킨무| 과일주스| 포기김치    춘천식 닭갈비| 얼갈이된장국| 김가루막국수| 코울슬로| 포기김치  간장돼지갈비찜| 꼬치어묵국| 들깨무나물| 치커리유자청무침| 포기김치     봄동비빔밥| 우동장국| 만두튀김| 청포묵김무침| 깍두기| 요구르트
3      월     석식  A식 [한식]     로제찜닭| 햄김치찌개| 콩나물매콤무침| 집게다리튀김| 포기김치      마파두부덮밥| 계란파국| 미트볼만두강정| 꼬시래기*초장| 깍두기    삼겹살김치볶음| 오징어무국| 청경채겉절이| 야채계란찜| 포기김치   간짜장덮밥| 짬뽕국| 숙주해물굴소스볶음| 파인애플탕수육| 포기김치  바지락수제비| 추가밥| 메밀전병*간장| 배추겉절이| 과일주스| 포기김치